.post-form{
    width: 100%;
    background: white;
    padding:2vh;
    border-radius: 5px;
}

textarea{
    height: 20vh !important;
}

.guidelines{
    background: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
}

.guidelines li{
    list-style-type: decimal;
}