/* body
{
    padding: 0;
    margin: 0 !important; 
}
.header
{
    top: 0%;
    height: 5%;
    background-color: rgb(0, 0, 0);
    border-bottom-width: 1px;
}

.row
{
    width: 100%;
}

.header .column
{
    width: 30%;
    height: 100%;
    margin-left: 3%;
    background-color: blue;
    float: left;
}

.icon
{
    width: 20%;
    height: 100%;
    float: left;
}

.icon img{
    width: 80%;
}

.icon .title
{
    width: 50%;
    float: left;
    margin-top: 2%; 
} */



.response{
    padding: 6px;
    display: none;
}

.not-exists{
    color: green;
}

.exists{
    color: red;
}